@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:active ,a:visited {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    // scroll-behavior: smooth;
    font-family: 'Poppins', cursive;
}

body::-webkit-scrollbar {
width: 0.5em;
}

body::-webkit-scrollbar-track {
background-color: white ;
// box-shadow: inset 0 0 3px rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
background-color:rgb(0, 123, 255);
border-radius:10px;
// box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
// outline: 1px solid  white;
}

.navbar {
    background-color: rgba(255,255,255,1) !important;
    font-family: 'MuseoModerno', cursive;
    font-size: x-large;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.1);
}
div#collapsibleNavbar.collapse.navbar-collapse{
    margin-left: 25%;
    li {
        margin: auto 10px;
    }
}

div.row{
        margin: 0;
    }

section {
    padding: 0;
    padding-top: 77px;
    margin:0;
}

#home {
    img {
        height: 80vh;
        width: 100%;
        margin-top:25px;
        margin-left: 30%;
        box-shadow: -6px -6px 20px rgba(255,255,255,0.6),
        6px 6px 20px rgba(0,0,0,0.1);

        &:hover {
            box-shadow:inset -8px -8px 20px rgba(255,255,255,0.3),
        4px 4px 10px rgba(0,0,0,0.1);
        }
    }
}

.home-block {
    background-color: rgb(0, 123, 255);
    height: 88vh;
}

.home-intro {
    padding-top: 20%;
    height: 100%;
    margin: auto 0;
    padding:auto 0;
    font-size: 70px;
    span {
        opacity: 40%;
        font-size: 50px;
    }
}

#about,#achievements {
    background-image: url('../images/about.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: left;
    position: relative;
}

#achievements {
    background-image: url('../images/achievements.jpg');
    display: flex;
    background-position: right;
    height: min-content;
    justify-content: left;
    align-items: center;
    padding-left:50% ;
    

    .achievement-heading {
        font-size: 45px;
        color: white;
        border-bottom:3px solid rgb(0, 123, 255);
    }
    .achievement-content {
        font-size: 20px;
        padding-left: 10px;
        color: white;
        li{
            padding: 10px;
        }
    }
}

.about-heading {
    font-size: 50px;
    margin-top: 6%;
    margin-left: 10%;
    color: white;
    border-bottom:3px solid rgb(0, 123, 255);
}
.about-content {
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 10px;
    margin-left: 12%;
    color: white;
}

#skills  {
    font-size: normal;
    background-color: #f3f3f3;
    padding-bottom: 40px;

    h1 {
        font-size: 50px;
        padding:30px 20px 10px;
        margin-bottom: 30px;
        width: max-content;
        text-align: center;
        border-bottom:3px solid rgb(0, 123, 255);
    }

    .row {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .card {
        margin: 20px;
        max-width: 320px;
        border-radius: 40px;
        border: none;
        padding: 50px 30px;
        background-color: #f3f3f3;
        box-shadow: -6px -6px 20px rgba(255,255,255,0.6),
        6px 6px 20px rgba(0,0,0,0.1);

        &:hover {
            box-shadow:inset -6px -6px 10px rgba(255,255,255,0.3),
        inset 6px 6px 10px rgba(0,0,0,0.1);
        }

        .imgBx {
            position: relative;
            text-align: center;

            img {
                max-width: 120px;
            }
        }

        .contentBx {
            position: realtive;
            margin-top: 20px;
            text-align: center;
            
            h2 {
                color: rgb(0, 123, 255);
                font-weight: 700;
                font-size: 1.6em;
            }
        }
    }
}

#projects {
    background-color: #333;
    min-height: 100vh;

    h1 {
        color: white;
        font-size: 45px;
        padding:10px 20px 10px;
        margin-bottom: 30px;
        width: max-content;
        overflow-wrap: break-word;
        text-align: center;
        border-bottom:3px solid rgb(0, 123, 255);
    }

    .wrapper{
        padding: auto 60px;
        padding-bottom: 40px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit,minmax(250px,400px));
        grid-column-gap: 80px;
        grid-row-gap:30px;
        position: relative;

        #ismConnect .hovered {
            background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        }

        #covid .hovered {
            background-image: linear-gradient(to right top, #845ec2, #eb4d9f, #ff695a, #feac00, #a8eb12);
        }

        #newsroom .hovered {
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        }

        #arka .hovered {
            background-image: linear-gradient(to right top, #370505, #690026, #9c0050, #cb008c, #eb12d8);
        }

        .card {
            padding: 0 ;
            height: 210px;
            background-color: #232323;
            color: #f3f3f3;
            margin: 3%;
            position: relative;
            
            .normal {
                padding:20px;
                text-align: center;
                align-items: center;
                position: absolute;
                img{
                    width: 40%;
                    padding-bottom: 20px;;
                }
            }

            .hovered {
                padding:20px;
                text-align: center;
                height: 100%;
                align-items: center;
                clip-path: circle(10% at 100% 0%);

                a {
                    margin-top: 5px;
                }
            }

            &:hover{
                .hovered {
                    clip-path: circle(100%);
                    display: inline;
                    transition:all 0.9s ease-in-out;
                }
                .normal {
                    display: none;
                    transition: all 0.9s ease-in-out;
                }
            }
        }
    }
}


#contact {
    padding: 40px 10px;
    box-shadow:inset 8px 8px 20px rgba(0,0,0,0.1);
    h1{
        align-items: center;
        text-align: center;
        color: rgb(0, 123, 255);
    }
    .col-md-4{
        height: min-content;
    }
    
ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  ul li:nth-child(4) a:before {
    background-image: linear-gradient(45deg,#405de6,#3934a0,#833ab4,#c13584,#e1306c,#fd1d1d);
  }
  ul li:nth-child(5) a:before {
    background: #211F1F;
  }
}



@media(max-width:770px){
    html,body{
        overflow-x: hidden !important;
    }
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    div#collapsibleNavbar.collapse.navbar-collapse{
        margin-left: 10px;
    }
    #home {
        img {
            height: 80vh;
            margin: 0;
            justify-content: center !important;
        }
        div.row div.col-md-6{
            padding-right: 0;
        }
    }
    .about-heading {
        margin-left: 20px;
    }
    .about-content {
        margin-left: 20px;
    }
    #achievements {
        padding:20px 1%;
        margin: 0;
    }
}